

.azeret-mono-normal> {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  ;
  font-style: normal;
}
/* Share style */
.text-primary{
    color: #0D1321;
}
.btn-primary{
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: white;
    font-size: 20px;
}

.btn-secondary{
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFFFFF
    ;
}

.section-title{
    font-size: 32px;
    font-weight: 800;
    color: rgba(13, 19, 33, 1);
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 1);
}

.secondary-bg{
    background-color: rgba(13, 19, 33, 0.02);
}

/* Nav styles  */
nav{display: flex;
align-items: center;
justify-content: space-between;
margin: 50px 150px;}
.nav-title{
    font-size: 28px;
    font-weight: 800;
    
}
nav ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
   
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Banner style */      

.banner-title{
    font-size: 48px;
    font-weight: bolder;
}
.banner-discription{
    font-size: 16px;
    font-weight: 400;
}
.banner-pic{
    width: 240.28px;
    height: 240px;
}
.banner-content{
    max-width: 998px;
    max-height: 581px;
    padding: 26px 221px 45px 221px;    
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-size: 1440px 652px;
    text-align: center;
}

/* styles */
.my{
    border-radius: 16px;
    padding: 80px 97px;
    margin-top: 74px;
}
.my-position{
    text-align: center;
    
}

/* about items */
.about-item{display: flex;
justify-content: space-between;}

.about-font{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
}
